* {
  text-align: center;
  overflow-x: hidden;
  color: white;
  background-color: black;
  scroll-behavior: smooth;
  font-family: 'Lexend', sans-serif;
}
body {
  background-color: black;
}
hr {
  background-color: teal;
  width: 150px;
  border: none;
  height: 1px;
  margin-top: 10px;

}
.navbar {
  top: -10px;
  position:fixed;
  font-size:30px;
  width: 150000000px;
  overflow-y: hidden;
  height: 70px;
  background-color: rgb(36, 37, 87);
  display: flex;
}
body::-webkit-scrollbar {
  display:none
  
} 
.no-back {
  background-color: transparent;
}
.background_1 {
	background: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
  background-size: 1512px 900px;
}
.down_arrow {
  width: 20px;
  height: 20px;
  animation: yeet 2s infinite;
  cursor: pointer;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(36, 37, 87);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid black;  /* creates padding around scroll thumb */
  border-radius: 20px;
  height: 20px;
  border-right: 2px solid white;
}
@keyframes yeet {
  50% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(100%);
  }
}
button {
  font-family: 'Lexend', sans-serif;
  font-size:48px;
  border:none;
  overflow: hidden;
  transition: color ease-in 0.5s;
  background-color: rgb(36, 37, 87);
  text-decoration: none;
}
button:hover {
  color: white;
  background-color: rgb(73, 74, 131);
}
h1 {
  font-size: 50px; 
}
h2 {
  font-size: 30px;
}
.background_1, .background_2 {
  color: white;
  width: 1500px;
  height: 1000px;
  margin-bottom: 0px;
}
.background_3 {
  height: 750px;
}
.background_2 {
  background-color: black;
}
.line {
  display: inline-flex;
}
.repl {
  width: 300px;
  height: 250px;
  border-radius: 30px;
  border: 2px solid white;
  font-size: 20px;
  word-break: break-word;
  margin: 10px;
}
.repl:hover {
  box-shadow: 10px white;
}
/*changing a:hover*/
a {
  color:white;
  margin-top: 10px; 
  text-decoration-color:white; 
  font-size: 40px;
  overflow: hidden;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.link {
  height: 200px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 30px; 
  width: 300px;
  margin-right: 30px;
}
